pipeline/pl_api_to_adls_prt.json
{
	"name": "pl_api_to_adls_prt",
	"properties": {
		"activities": [
			{
				"name": "web_act_api_adls",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "http://ergast.com/api/f1/seasons.json",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable_race",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "web_act_api_adls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "limit",
					"value": {
						"value": "@activity('web_act_api_adls').output.MRData.total",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_season",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "web_act_api_adls_2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('web_act_api_adls_2').output.MRData.SeasonTable.Seasons",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Web_act_3_race_date",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('http://ergast.com/api/f1/',item().season,'.json?limit=100')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_var_race_data",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web_act_3_race_date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "races_data",
								"value": {
									"value": "@{activity('Web_act_3_race_date').output.MRData.RaceTable.Races}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data_races",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set_var_race_data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "mycol",
											"value": {
												"value": "@variables('races_data')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "mycol",
												"type": "String"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 1
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_data",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_races_season_wise_data",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set var_season_wise",
							"description": "write season value in one variable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "year_wise",
								"value": {
									"value": "@item().season",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute_pipeline_chld",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set var_season_wise",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_race_result_round_wise_chld",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"season_value_parameter": {
										"value": "@variables('year_wise')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "web_act_api_adls_2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable_race",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('http://ergast.com/api/f1/seasons.json?limit=',variables('limit'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_var_only_season_data",
				"description": "write data from ",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "web_act_api_adls_2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "season_data_only",
					"value": {
						"value": "@{activity('web_act_api_adls_2').output.MRData.SeasonTable.Seasons}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy_data_season",
				"description": "write season data from set variable to adls in json format",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_var_only_season_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "mycol",
								"value": {
									"value": "@variables('season_data_only')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "mycol",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_source_data",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sink_season_data_only",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"limit_var": {
				"type": "String"
			},
			"drivers": {
				"type": "String"
			},
			"limit": {
				"type": "String"
			},
			"races_data": {
				"type": "String"
			},
			"year_wise": {
				"type": "String"
			},
			"race_result": {
				"type": "String"
			},
			"file_name_season": {
				"type": "String"
			},
			"season_data_only": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-11T19:14:17Z"
	}
}