pipeline/pl_ingest_driver_data.json
{
	"name": "pl_ingest_driver_data",
	"properties": {
		"activities": [
			{
				"name": "Web1_to_get_driver",
				"description": "this will get drivers details",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://ergast.com/api/f1/drivers.json"
				}
			},
			{
				"name": "Set variable1_drivers",
				"description": "this activity will set total page value into limit_variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1_to_get_driver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "limit_var",
					"value": {
						"value": "@activity('Web1_to_get_driver').output.MRData.total",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web1_ACT_get_drivers_data",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1_drivers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://ergast.com/api/f1/drivers.json?limit=',variables('limit_var'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_drivers_data",
				"description": "this activity will set drivers data in variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1_ACT_get_drivers_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "drivers",
					"value": {
						"value": "@{activity('Web1_ACT_get_drivers_data').output.MRData.DriverTable.Drivers}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy_act_data_from_api_to_adls",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_drivers_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "my_colum",
								"value": {
									"value": "@variables('drivers')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "my_colum",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_source_data1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"limit_var": {
				"type": "String"
			},
			"drivers": {
				"type": "String"
			},
			"limit": {
				"type": "String"
			},
			"races_data": {
				"type": "String"
			},
			"year_wise": {
				"type": "String"
			},
			"race_result": {
				"type": "String"
			},
			"file_name_season": {
				"type": "String"
			},
			"season_data_only": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-11T19:14:16Z"
	}
}