templates/pl_api_to_adls_prt/pl_api_to_adls_prt.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"ls_adls_gen2": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_api_to_adls_prt')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "web_act_api_adls",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"url": {
								"value": "http://ergast.com/api/f1/seasons.json",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable_race",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "web_act_api_adls",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "limit",
							"value": {
								"value": "@activity('web_act_api_adls').output.MRData.total",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach_season",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "web_act_api_adls_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('web_act_api_adls_2').output.MRData.SeasonTable.Seasons",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Web_act_3_race_date",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"url": {
											"value": "@concat('http://ergast.com/api/f1/',item().season,'.json?limit=100')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set_var_race_data",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Web_act_3_race_date",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "races_data",
										"value": {
											"value": "@{activity('Web_act_3_race_date').output.MRData.RaceTable.Races}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy data_races",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set_var_race_data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "mycol",
													"value": {
														"value": "@variables('races_data')",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "mycol",
														"type": "String"
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 1
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_source_data",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ds_sink_races_season_wise_data",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "Set var_season_wise",
									"description": "write season value in one variable",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "year_wise",
										"value": {
											"value": "@item().season",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Execute_pipeline_chld",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set var_season_wise",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_race_result_round_wise_chld",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"season_value_parameter": {
												"value": "@variables('year_wise')",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "web_act_api_adls_2",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set variable_race",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"url": {
								"value": "@concat('http://ergast.com/api/f1/seasons.json?limit=',variables('limit'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set_var_only_season_data",
						"description": "write data from ",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "web_act_api_adls_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "season_data_only",
							"value": {
								"value": "@{activity('web_act_api_adls_2').output.MRData.SeasonTable.Seasons}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy_data_season",
						"description": "write season data from set variable to adls in json format",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set_var_only_season_data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "mycol",
										"value": {
											"value": "@variables('season_data_only')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "mycol",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 1
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_source_data",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sink_season_data_only",
								"type": "DatasetReference"
							}
						]
					}
				],
				"variables": {
					"limit_var": {
						"type": "String"
					},
					"drivers": {
						"type": "String"
					},
					"limit": {
						"type": "String"
					},
					"races_data": {
						"type": "String"
					},
					"year_wise": {
						"type": "String"
					},
					"race_result": {
						"type": "String"
					},
					"file_name_season": {
						"type": "String"
					},
					"season_data_only": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-04-11T19:14:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_source_data')]",
				"[concat(variables('factoryId'), '/datasets/ds_sink_season_data_only')]",
				"[concat(variables('factoryId'), '/datasets/ds_sink_races_season_wise_data')]",
				"[concat(variables('factoryId'), '/pipelines/pl_race_result_round_wise_chld')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('ls_adls_gen2')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "templet.txt",
						"fileSystem": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "",
					"firstRowAsHeader": false,
					"quoteChar": ""
				},
				"schema": [
					{
						"name": "swapnil",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sink_season_data_only')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('ls_adls_gen2')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "season.json",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('Seasons','/',string(utcnow('yyyyMMdd')))",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "",
					"firstRowAsHeader": false,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sink_races_season_wise_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('ls_adls_gen2')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(item().season,'.json')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('Races','/',string(utcnow('yyyyMMdd')))",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "",
					"firstRowAsHeader": false,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_race_result_round_wise_chld')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"description": "get data from api",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"url": {
								"value": "@concat('http://ergast.com/api/f1/',pipeline().parameters.season_value_parameter,'.json')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach_season",
						"description": "itrate through rounds",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Web1').output.MRData.RaceTable.Races",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Web2_round_wise_result_2",
									"description": "get data from api",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"url": {
											"value": "@concat('http://ergast.com/api/f1/',pipeline().parameters.season_value_parameter,'/',item().round,'/','results.json')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable_round_wise_result",
									"description": "write race result to string type varible",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Web2_round_wise_result_2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "race_result",
										"value": {
											"value": "@{activity('Web2_round_wise_result_2').output.MRData.RaceTable.Races}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy data_round_wise",
									"description": "copy data data from api to adls",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set variable_round_wise_result",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set variable_season_value",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "mycol",
													"value": {
														"value": "@variables('race_result')",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_source_data",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ds_sink_season_round_wise_data",
											"type": "DatasetReference",
											"parameters": {
												"year_name": {
													"value": "@variables('file_name_season')",
													"type": "Expression"
												},
												"round": {
													"value": "@item().round",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Set variable_season_value",
									"description": "write season value in one variable",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "file_name_season",
										"value": {
											"value": "@pipeline().parameters.season_value_parameter",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"season_value_parameter": {
						"type": "string"
					}
				},
				"variables": {
					"race_result": {
						"type": "String"
					},
					"file_name_season": {
						"type": "String"
					},
					"season_data_only": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-04-11T19:14:16Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_source_data')]",
				"[concat(variables('factoryId'), '/datasets/ds_sink_season_round_wise_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sink_season_round_wise_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('ls_adls_gen2')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"year_name": {
						"type": "string"
					},
					"round": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().year_name,'_',dataset().round,'.json')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('Results','/',string(utcnow('yyyyMMdd')))",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "",
					"firstRowAsHeader": false,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}